.general {
    display: flex;
    justify-content: center;
}
.container {
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 20px;
  }
.container input {
    width: 50%;
}

.container button {
    width: 50%;
    height: 30px;
}
.resultadosIngresados {
    padding-left: 20px;
  }
  